.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Sayfanın tamamını kaplaması için */
  }
  
  .centered {
    max-width: 400px; /* Bileşenin maksimum genişliği */
    width: 100%;
  }
  